
body{
  font-family:sans-serif;
  background: #fbfbfb;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
}

footer{
	margin-bottom: -5px;
}


a{
	text-decoration: none;

}
.main-section{
    width: 100%;
    margin-top: -8px;
}
.header-main{
    display: flex;
    justify-content: center;
    margin-top: 11px;
    margin-bottom: -5px;
}
.main-color{
	color: #f37922;
}
.bg-main{
	background-color: #f37922;
}
.white{
	color: white;
}
.pending{
	font-weight: bold;
    color: coral;
}
.disapproved{
	color: #ec0505;
	font-weight: bold;
}
.resolve{
	padding: 7px;
    background: green;
    color: white;
    border-radius: 2px;
}

.approve{
	padding: 7px;
    background: green;
    color: white;
    border-radius: 2px;
}
.disapprove{
	padding: 7px;
    background: #ce0505;
    color: white;
    border-radius: 2px;
}
.approved{
    color: mediumseagreen;
    font-weight: bold;
}

.undo{
	padding: 7px;
    background: #8c8a8a;
    color: white;
    border-radius: 2px;
}

.hidden{
	display: none !important;
}

.badge{
    padding: 4px;
    border-radius: 2px;
}

.more{
	display: none;
}
.toggler{
	cursor: pointer;
}


.nav-bar{
	display: flex;
	justify-content: space-between;
	background: #f37922;
	width: 100%;
}


.nav-bar a{
	color: white;
	text-decoration: none;
	padding: 30px;
    width: 100%;
}
.nav-bar a:hover{
	background: #de6e1f;
}
.footer-bar{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 15px;
    margin-bottom: -15px;
}
.footer-bar > div{
	padding: 20px;
}
.filter-bar{
	display: flex;
	justify-content: space-between;
	background: #c35b31;
	width: 100%;
	margin-top: 15px;
    margin-bottom: -15px;
}
.filter-bar > div{
	padding: 20px;
}
.filter-bar a:hover{
	background: #c35b31;
}


.filter-bar a{
	color: white;
	text-decoration: none;
	padding: 30px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.filter-bar a.active{
	text-decoration: underline;
	font-weight: bold;
}

.content{
	margin-top: 15px;
    height: auto;
    background: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
}
.content-nav{
	margin-top: 2%;
    height: auto;
    background: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
}
.login-form{
	height: auto;
    width: 300px;
    background: #fbfbfb;
    padding: 14px 60px;
    margin: 60px 5px;
}

.form-detail{
	margin: 10px 0px;
}
.grouped{
	padding-right: 38px;
}
.grouped .form-text{
	width: auto !important;
    padding: 6px;
    margin-right: -5px;
    border: 2px solid #fff;
}
.grouped .form-btn{
	padding: 4px;
    width: auto;
    min-height: 31px;
    margin-top: -1px;
}


.form-detail label{
	display: block;
    font-weight: bold;
    color: #737373;
}

.form-detail .form-text{
	padding: 6px;
    width: 100%;
    border: 1px solid #ccc;
}
.form-btn{
	padding: 10px 26px;
    background: #f37922;
    border: 1px solid #fff;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.search {
    margin-left: auto;
    margin-top: -7px;
    margin-bottom: -6px;
}
/*REquests*/
.requests{
	margin-top: 2%;
	
}
.panel{
    height: auto;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: white;
    margin-bottom: 10px;
}

.header{
	border-bottom: 1px solid #eee;
	padding: 8px;
	min-height: 45px;
}
.middle{
	border-bottom: 1px solid #eee;
	padding: 8px;
}
.req-left{
	float: left;
}
.req-right{
	float: right;
}
.footer{
	padding: 8px;
	min-height: 45px;
}

.new-request{
	margin-top: 35px;
    background: white;
    padding: 14px;
}
.new-request textarea{
	resize: none;
}
